<!DOCTYPE html>
<html>
    <head>
        <title>Parser</title>
        <style rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css"></style>
    </head>
    <body>
        <div class="container-fluid">
            
            <form action="validateData" method="post">
                <div class=>
                    <label>Grammatics rules<br>
                        <textarea cols="50" rows="20" name="rules"></textarea>
                    </label>
                </div>
                <div class=>
                    <label>Grammatics definitions<br>
                        <textarea cols="50" rows="20" name="definitions"></textarea>
                    </label>
                </div>

                <input  type="submit">
                <button class="btn button-primary" ></button>
            </form>
        </div>
    </body>
</html>
